* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*NAVIGATION*/
nav {
    height: 80px;
    background: #2A2A2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

nav a {
    text-decoration: none;
    color: #F5B25F;
    padding: 0 1.5rem;
}

/*HERO*/
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    padding: 1rem calc((100vw - 1300px) / 2);
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    background: rgba(243, 212, 176, 0.877);
    color: white;
    border-radius: 0dvh;
}

.hero-container h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.hero-container p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: none;
    color: #000;
    background: #FF9658;
}

button:hover {
    background: #F27623;
    color: #000;
}

/*FOOTER*/
footer {
    background: #2A2A2A;
    color: white;
    padding: 40px 0;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    height: 40px;
    margin-right: 20px;
}

.social-icons {
    display: flex;
  }

.social-icons a {
    display: inline-block;
    color: rgb(255, 150, 88);
    font-size: 24px;
    margin-right: 20px;
  }

  .social-icons a:hover {
    color: #F27623;
  }